
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"  style="color: white;">Angular Quiz</a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"routerLinkActive="active" routerLink="/quiz" style="color: white;">QUIZ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="/results" style="color: white;">RESULT</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

 